<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-expand-lg bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">BOOKSHELF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">FIND BOOKS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--CONTAINER ONE // INTRODUCTION-->
    <div class="container-fluid" id="conOne">
        <div class="row justify-content-center" id="spacing">
            <div class="col-6 text-center">
                <h1 id="accentColor">TITLE OF WEBSITE</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi. Cursus in hac
                    habitasse platea dictumst quisque sagittis purus sit. Eget arcu dictum varius duis. Sed nisi lacus
                    sed viverra tellus in hac habitasse. Lectus arcu bibendum at varius. Nam aliquam sem et tortor.
                    Lectus proin nibh nisl condimentum. Ipsum nunc aliquet bibendum enim. Pulvinar etiam non quam lacus
                    suspendisse faucibus. Ullamcorper a lacus vestibulum sed. Tristique magna sit amet purus. Libero
                    enim sed faucibus turpis in eu mi. Libero enim sed faucibus turpis in eu. Non diam phasellus
                    vestibulum lorem sed. Tortor pretium viverra suspendisse potenti nullam ac. Venenatis urna cursus
                    eget nunc scelerisque. Ornare massa eget egestas purus viverra accumsan in nisl.</p>
            </div>
        </div>
    </div>
    <!--CONTAINER TWO // INFO TABS-->
    <div class="container-fluid text-center" id="conTwo">
        <div class="row text-center" id="spacing">
            <div class="col-3">
                <i class="fas fa-book" id="faConfig"></i>
                <p class="pt-3">SEARCH BOOKS</p>
            </div>
            <div class="col-3">
                <i class="fas fa-book-open" id="faConfig"></i>
                <p class="pt-3">KEEP TRACK OF ALL YOUR READS</p>
            </div>
            <div class="col-3">
                <i class="fas fa-list-ul" id="faConfig"></i>
                <p class="pt-3">ADD YOUR NEXT READS TO YOUR QUEUE</p>
            </div>
            <div class="col-3">
                <i class="fas fa-users" id="faConfig"></i>
                <p class="pt-3">SEARCH AUTHORS</p>
            </div>
        </div>
    </div>
    <!--CONTAINER THREE // BOOKSHELF-->
    <div class="container-fluid text-center" id="conThree">
        <div class="row" id="spacing">
            <div class="col">
                <h1 id="accentColor">MY BOOKSHELF</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="books list-group" id="book-list">
                                {{!-- {{#each books}}
                                <li data-id="{{this.id}}" class="list-group-item">
                                    <button class="btn btn-danger animated flipInY">
                                        <img src="{{this.cover}}">
                                    </button>
                                </li>
                                {{/each}} --}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col">
                <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                            <input id="book-title" class="search_input" type="text" name="title"
                                placeholder="Search...">
                            <button id="submit" class="search_icon"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" id="spacing">
            <div class="container" id="conFour">
                <div class="row">
                    <div class="col-12">
                        <div class="loader">Loading...</div>
                        <ul id="searchResultList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue pt-4 bg-dark">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">GitHub</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Matthew Madrigal</a>
                        </li>
                        <li>
                            <a href="#!">Kent Okazaki</a>
                        </li>
                        <li>
                            <a href="#!">Joshua jackson</a>
                        </li>
                        <li>
                            <a href="#!">Jihong Jin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-genre">
                    </div>
                    <div class="modal-author">
                    </div>
                    <div class="modal-date">
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addBook">Add to
                            Bookshelf</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>