body {
    background: #212121;
}
#conOne {
    background-image: url('books.jpg');
    color: white;
}
#conTwo {
    background-color: #212121;
    color: white;
}
#conThree {
    background-color: #212121;
    color: white;
}
#conFour {
    background-color: #313131;
    color: white;
    padding: 200px;
}
#faConfig {
    font-size: 90px;
}
#spacing {
    padding-top: 80px;
    padding-bottom: 80px;
}
#accentColor {
    color: #EFD469;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}

